layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left  "#[fg=0,bg=10][{session}]  {tabs}"
                format_right "#[fg=0,bg=10]{mode}"
                format_space "#[bg=10]"

                mode_normal        "{name} "
                mode_tmux          "{name} "
                mode_locked        "{name} "
                mode_resize        "{name} "
                mode_pane          "{name} "
                mode_tab           "{name} "
                mode_scroll        "{name} "
                mode_enter_search  "{name} "
                mode_search        "{name} "
                mode_rename_tab    "{name} "
                mode_rename_pane   "{name} "
                mode_session       "{name} "
                mode_move          "{name} "

                tab_normal   "{index}:{name}  "
                tab_active   "{index}:{name}* "
            }
        }
    }
}
